

body {
  background-image: url(https://cdn.freelance.ru/img/portfolio/pics/00/2B/64/2843832.jpg?mt=2c44d56b);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box {
  font-family: 'Orbitron', sans-serif;
  width: 285px;
  height: 360px;
  margin: 15% auto;
  border: 1px solid #2a9aac;
  box-shadow: 2px 2px #2c2b2b;
  border-radius: 20px;
  user-select: none;
  background-color: #B0E0E6;
  top: -10%;
  left: 40%;
}

.screen {
  height: 60px;
  width: 240px;
  border: 1px solid #138e9e;
  background: #d2f1f9;
  margin: 25px 20px 5px 20px;
  border-radius: 6px;
}

.main-screen {
  width: 240px;
  height: 22px;
  padding: 10px 5px;
  font-size: 20px;
  text-align: right;
  color: #033a48;
}

.sub-screen {
  max-width: 280px;
  height: 15px;
  padding: 10px 5px;
  font-size: 12px;
  text-align: right;
}

.buttons {
  margin: 10px auto;

}

button {
  margin: 5px;
  padding: 3px 10px;
  width: 50px;
  height: 30px;
  border: none;
  box-shadow: 1px 2px #2c2b2b;
  background-color: rgb(137, 155, 155);
}

button:focus {
  outline:0 !important;
}

button:active {
  box-shadow: none;
  transform: translateY(4px);
}

.btn-zero {
  width: 113px;
  margin-right: 7px;
}

.btn-equal {
  position: absolute;
  margin-left: 10px;
  height: 75px;
}

footer {
  font-size: 10px;
}

.btn-default {
  color: #2d4644;
  background-color: #a5cde2;
  border-color: #415883;
  box-shadow: 1px 2px #2c2b2b;
  
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  box-shadow: 1px 2px #2c2b2b;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  box-shadow: 1px 2px #2c2b2b;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  box-shadow: 1px 2px #2c2b2b;
}

.header {
  background-color: #58dab5; 
  padding: 20px; 
  text-align: center;
}

.text-container {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 40px;
}

.column {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  height: 900px;
  background-color: white;
  padding: 50px;
}

td {
  color: rgb(22, 114, 105);
  text-align: left;
  padding: 15px;
  border: 2px solid black
}

tr {
  color: rgb(10, 209, 189);
  border: #033a48;
  border: 2px solid black
}

th {
  color:#11a078;
  padding: 5px;
  text-align: left;
  border: 2px solid black
}

table {
  margin: 5%;
  border: #033a48;
  border-top: 2px solid #000; 
  border-bottom: 2px solid #000;
}

h2{
  margin-left: 50px;
  color: #1b4741;
}

h1{
  text-align: center;
  color: #104c5d;
}
