<!DOCTYPE html>
<html>
<head>
  <title>Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{{ url_for('static', filename='icon.jpg') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
    <div class="text-container"> 
        <div class="header">
            <p>самый крутой калькулятор в мире</p>
        </div>
    </div> 
</div>

  <div class="box">
    <div class="screen">
      <div class="main-screen" id="output">0</div>
      <div class="sub-screen" id="output2"></div>
    </div>

    <input type="hidden" id="num1">
    <input type="hidden" id="operator">
    <input type="hidden" id="num2">
    <input type="hidden" id="temp">

    <div class="container-fluid">
      <div class="buttons">
        <button class="btn-clear btn btn-danger" id="clearButton">C</button>
        <button class="btn btn-warning" id="deleteButton">DEL</button>
        <button class="btn-operate btn btn-default" value="/">/</button>
        <button class="btn-operate btn btn-default" value="*">x</button>
      </div>

      <div class="buttons">
        <button class="nums btn btn-default" value="7">7</button>
        <button class="nums btn btn-default" value="8">8</button>
        <button class="nums btn btn-default" value="9">9</button>
        <button class="btn-operate btn btn-default" value="-">-</button>
      </div>

      <div class="buttons">
        <button class="nums btn btn-default" value="4">4</button>
        <button class="nums btn btn-default" value="5">5</button>
        <button class="nums btn btn-default" value="6">6</button>
        <button class="btn-operate btn btn-default" value="+">+</button>
      </div>

      <div class="buttons">
        <button class="nums btn btn-default" value="1">1</button>
        <button class="nums btn btn-default" value="2">2</button>
        <button class="nums btn btn-default" value="3">3</button>
        <button class="btn-equal btn btn-info" id="resultButton">=</button>
      </div>

      <div class="buttons">
        <button class="nums btn-zero btn btn-default" value="0">0</button>
        <button class="nums btn btn-default" value=".">.</button>
      </div>
    </div>
    <footer class="text-center">
      <p>
      lk27
      </p>
    </footer>
  </div>

  <div class="column">
    <h1>Описание</h1>
    <h2>
      Калькулятор — это инструмент или устройство, предназначенное для выполнения математических операций. Калькуляторы бывают разными: от простых карманных, способных выполнять базовые операции (сложение, вычитание, умножение, деление), до более сложных научных и графических калькуляторов, способных решать уравнения, строить графики и работать с тригонометрическими и логарифмическими функциями.
    </h2>
    <table>
      <thead>
        <tr>
          <th>Кнопки</th>
          <th>Использование</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <em>1</em>
            <em>2</em>
            <em>3</em>
            <em>4</em>
            <em>5</em>
            <em>6</em>
            <em>7</em>
            <em>8</em>
            <em>9</em>
            <em>0</em>
          </td>
          <td>Ввод цифр</td>
        </tr>
        <tr>
          <td>
          <em>+</em>
          <em>-</em>
          <em>×</em>
          <em>÷</em>
          </td>
          <td>
            Выполнение основных математических операций 
          </td>
        </tr>
        <tr>
          <td>
            <em>=</em>
          </td>
            <td>Получение результата вычисления</td>
        </tr>
        <tr>
          <td>
            <em>C</em>
          </td>
          <td>Очистка поля колькулятора</td>
        </tr>
        <tr>
          <td>
            <em>DEL</em>
          </td>
            <td>Удаление последнего введённого символа</td>
        </tr>
        <tr>
          <td>
            <em>.</em>
          </td>
            <td>Отделение дробной части в десятичной дроби</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

</body>
</html>
